<a href="https://colab.research.google.com/github/ar3da/Python-Basico/blob/main/ANALISE_DE_DADOS_DIA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Olá mundo!!! Irei seguir carreira em analise de dados")

Olá mundo!!! Irei seguir carreira em analise de dados

In [ ]:
print("Meu nome é Areda")

Meu nome é Areda

In [ ]:
#Trabalhando com números e operações matemáticas

soma = 2 + 2
subtracao = 2 - 2
multiplicacao = 2 * 2
divisao = 2 / 2

print(soma)
print(subtracao)
print(multiplicacao)
print(divisao)

4
0
4
1.0

In [ ]:
nome = "Areda"
idade = 21
salario = 1518.00

print("Meu nome é {}".format(nome))
print("Tenho {} anos".format(idade))
print("Meu salário atual é de R${}".format(salario))

Meu nome é Areda
Tenho 21 anos
Meu salário atual é de R$1518.0

In [ ]:
#Verificando tipos de variaveis

print(type(nome))
print(type(idade))
print(type(salario))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# Salário e despesas
salario = 1412
aluguel = 500
mercado = 300
contas = 400

# calcular quanto sobra
sobra = salario - (aluguel + mercado + contas)

print("Sobrou:", sobra, "reais no mês")

Sobrou: 212 reais no mês

***# DIA 2: Trabalhando com listas***