<a href="https://colab.research.google.com/github/ar3da/Python-Basico/blob/main/ANALISE_DE_DADOS_DIA_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

#Criando um dataframe de exemplo para estudas as funções groupby e agg

dados = {
    "Categoria": ["Alimentação", "Alimentação", "Transporte", "Transporte", "Lazer", "Lazer"],
    "Valor": [50, 40,70, 80, 100, 90]

}

df = pd.DataFrame(dados)
print("Tabela Original: ")
print(df)

print("_"*40)

#Agrupar por categoria e somar valores

print("\n Soma por categoria: ")
print(df.groupby("Categoria")["Valor"].sum())

print("_"*40)

#Agrupar e calcular a média

print("\n Média por categoria: ")
print(df.groupby("Categoria")["Valor"].mean())

print("_"*40)

#Agrupar e usar multiplas funções com agg

print("\n Estatisticas por categoria: ")
print(df.groupby("Categoria")["Valor"].agg(["mean", "sum", "min", "max"]))

Tabela Original:
     Categoria  Valor
0  Alimentação     50
1  Alimentação     40
2   Transporte     70
3   Transporte     80
4        Lazer    100
5        Lazer     90
________________________________________

 Soma por categoria:
Categoria
Alimentação     90
Lazer          190
Transporte     150
Name: Valor, dtype: int64
________________________________________

 Média por categoria:
Categoria
Alimentação    45.0
Lazer          95.0
Transporte     75.0
Name: Valor, dtype: float64
________________________________________

 Estatisticas por categoria:
             mean  sum  min  max
Categoria
Alimentação  45.0   90   40   50
Lazer        95.0  190   90  100
Transporte   75.0  150   70   80