<a href="https://colab.research.google.com/github/ar3da/Python-Basico/blob/main/ANALISE_DE_DADOS_DIA_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

# Criando um DataFrame de exemplo
dados = {
    "Nome": [" Ana ", "bruno", "Carlos", "Ana "],
    "Data": ["2023-01-10", "2023/02/15", "15-03-2023", "2023-01-10"],
    "Valor": [100, 200, 150, 100]
}

df = pd.DataFrame(dados)
print("Tabela original:")
print(df)

# -> TRATAMENTO DE STRINGS

print("\n Nomes limpos (sem espaços e com a inicial maíuscula): ")
df["Nome"] = df["Nome"].str.strip().str.capitalize()
print(df)


# ->  Conversão de datas

print("\n Convertendo datas para datetime: ")
df["Data"] = pd.to_datetime(df["Data"], dayfirst=True, errors="coerce")
print(df)

# -> Extraindo ano e mês

df["Ano"] = df["Data"].dt.year
df["Mês"] = df["Data"].dt.month
print("\n Tabela com ano e mês: ")
print(df)

# -> Removendo duplicados

print("\nRemovendo linhas duplicadas:")
df = df.drop_duplicates()
print(df)

Tabela original:
     Nome        Data  Valor
0    Ana   2023-01-10    100
1   bruno  2023/02/15    200
2  Carlos  15-03-2023    150
3    Ana   2023-01-10    100

 Nomes limpos (sem espaços e com a inicial maíuscula):
     Nome        Data  Valor
0     Ana  2023-01-10    100
1   Bruno  2023/02/15    200
2  Carlos  15-03-2023    150
3     Ana  2023-01-10    100

 Convertendo datas para datetime:
     Nome       Data  Valor
0     Ana 2023-10-01    100
1   Bruno        NaT    200
2  Carlos        NaT    150
3     Ana 2023-10-01    100

 Tabela com ano e mês:
     Nome       Data  Valor     Ano   Mês
0     Ana 2023-10-01    100  2023.0  10.0
1   Bruno        NaT    200     NaN   NaN
2  Carlos        NaT    150     NaN   NaN
3     Ana 2023-10-01    100  2023.0  10.0

Removendo linhas duplicadas:
     Nome       Data  Valor     Ano   Mês
0     Ana 2023-10-01    100  2023.0  10.0
1   Bruno        NaT    200     NaN   NaN
2  Carlos        NaT    150     NaN   NaN