<a href="https://colab.research.google.com/github/ar3da/Python-Basico/blob/main/ANALISE_DE_DADOS_DIA_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Dicionário com informações pessoais

pessoa = {
    "nome": "Areda",
    "idade": 21,
    "cidade": "Campina Grande"
}

print(pessoa)
print("Nome:", pessoa["nome"])
print("Idade:", pessoa["idade"])

{'nome': 'Areda', 'idade': 21, 'cidade': 'Campina Grande'}
Nome: Areda
Idade: 21

In [ ]:
#Alterando valores

pessoa["idade"] = 22
print("Idade atualizada: ",pessoa["idade"])

Idade atualizada:  22

In [ ]:
#Adicionando novas categorias

pessoa["Profissao"] = "Analista de dados (em formação)"
print(pessoa)

{'nome': 'Areda', 'idade': 22, 'cidade': 'Campina Grande', 'Profissao': 'Analista de dados (em formação)'}

In [ ]:
#EXERCICIO DIA 3: DESPESAS COMO DICIONÁRIO

despesas = {
    "aluguel": 500,
    "mercado": 300,
    "contas": 400
}

total = sum(despesas.values())
print(total)

1200

In [11]:
import pandas as pd

#Criando uma tabela com dicionário

dados = {
    "Produto": ["Arroz", "Feijão", "Milho"],
    "Preço": [20, 15, 5],
    "Quantidade": [50, 70, 100]
}

df = pd.DataFrame(dados)
print(df)
print("_"*30)

#OPERAÇÕES SIMPLES

# Total de linhas e colunas
print("Formato da tabela:", df.shape)
print("_"*30)

# Primeiras linhas
print(df.head())
print("_"*30)

# Últimas linhas
print(df.tail())
print("_"*30)

# Informações estatísticas
print(df.describe())
print("_"*30)

# Soma de uma coluna
print("Total de Quantidade:", df["Quantidade"].sum())
print("_"*30)

# Valor total gasto
df["Total"] = df["Quantidade"] * df["Preço"]
print(df)
print("_"*30)

  Produto  Preço  Quantidade
0   Arroz     20          50
1  Feijão     15          70
2   Milho      5         100
______________________________
Formato da tabela: (3, 3)
______________________________
  Produto  Preço  Quantidade
0   Arroz     20          50
1  Feijão     15          70
2   Milho      5         100
______________________________
  Produto  Preço  Quantidade
0   Arroz     20          50
1  Feijão     15          70
2   Milho      5         100
______________________________
           Preço  Quantidade
count   3.000000    3.000000
mean   13.333333   73.333333
std     7.637626   25.166115
min     5.000000   50.000000
25%    10.000000   60.000000
50%    15.000000   70.000000
75%    17.500000   85.000000
max    20.000000  100.000000
______________________________
Total de Quantidade: 220
______________________________
  Produto  Preço  Quantidade  Total
0   Arroz     20          50   1000
1  Feijão     15          70   1050
2   Milho      5         100    500
______________________________